# Python virtual environment
venv/
.env

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Logs and dumps
*.log
*.out
*.bak

# Python packaging
dist/
build/
*.egg-info/

# Environment-related
.env.*
*.env
